#screen{
    border: 1px solid black;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    text-align: center;
    margin-left: 470px;
    margin-top: 150px;
    padding-top: 20px;
    
}
#screen:hover{
    box-shadow: 2px 2px 2px 2px yellowgreen;

}
#timer{
    color: indianred
}
